* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
html {
    background: url(img/background.jpg) no-repeat;
    background-size: 100%;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    /* background-color: #a0a0a0; */
}
.wrapper {
    background-color: rgb(2, 0, 35, 0.5);
    width: 100%;
    padding-top: 50px;
}
.content {

    background-color: rgb(2, 0, 35, 0.50);
    width: 70%;
    margin: 0 auto;
    -webkit-box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.75);
    overflow: auto;
    padding: 50px;
    color: white;
    min-width: 956px;
    max-width: 956px;
}
.logo {
    position: absolute;
    font-size: 30px;
    left: 330px;
    opacity: 0;
    transition: opacity 1s;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.btnMenu {
    position: relative;
    left: 800px;
    display: inline-block;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s;
}
.menu {
    position: relative;
}
.menuBlock {
    width: 200px;
    height: 0px;
    background-color: rgba(24, 20, 90, 0.95);
    position: absolute;
    right: 20px;
    top: 40px;
    transition: .2s all;
    display: flex;
    flex-direction: column;
    opacity: 0;
    z-index: -10;
    text-align: center;
    -webkit-box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.75);
}
.menuBlock a {
    margin-top: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.75);
    margin-right: 10px;
}
.menuBlock a:hover {
    -webkit-box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.9);
    -moz-box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.9);
    box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.9);
    transition: .2s all;
    color: yellow;
}
.item {
    margin-top: 50px;
    width: 850px;
    height: 500px;
    color: rgb(255, 255, 255);
    transition: 1s all;
}
.title {
    position: relative;
    left: 190px;
    font-size: 20px;
    display: inline-block;
}
.textDescription {
    width: 650px;
    height: 10px;
}
.sgrImg {
    width: 180px;
}
.imgIconBlock {
    display: inline-block;
}
.description {
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
}
.question {
    display: inline-block;
    position: relative;
    bottom: 50px;
    left: 50px;
}
.opacity {
    opacity: 0;
}
li {
    cursor: pointer;
    /* font-size: 15px; */
}
li:hover {
    color: yellow;
}
.imgIcon {
    width: 250px;
    position: relative;
    transition: 1s all;
    opacity: 1;
    top: 15px;
}
.iconLab2 img {
    position: relative;
    left: 620px;
}
.iconLab4 img {
    position: relative;
    left: 620px;
} 
.blockContact {
    width: 500px;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 70px;
    top: 50px;
}
.blockContact div input{
    width: 500px;
    height: 50px;
    margin-top: 20px;
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.75);
}
.blockContact div textarea{
    width: 500px;
    height: 200px;
    margin-top: 20px;
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 6px 11px 0px rgba(0,0,0,0.75);
    resize: none;
}
::placeholder {
    color: white;
}
.socialNetworkBlock {
    display: flex;
    justify-content: space-around;
}
.socialNetwork {
    display: inline-block;
    width: 50px;
    margin: 10px;
}
.socialNetwork img{
    width: 50px;
    border-radius: 50%;
}
.socialNetwork img:hover{
    -webkit-box-shadow: 0px 0px 24px 0px rgba(88, 86, 133, 0.95);;
    -moz-box-shadow: 0px 0px 24px 0px rgba(88, 86, 133, 0.95);;
    box-shadow: 0px 0px 24px 0px rgba(88, 86, 133, 0.95);;
    cursor: pointer;
}
/* .sgrImg {
    width: 100px;
} */